{% extends "base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="/static/styleing.css">
{% endblock %}


{% block contant %}

<form class="form-data"  method='POST' enctype="multipart/form-data">
  {% csrf_token%}

    <label for="text" class="form-label">Name</label>
    <input type="text" class="form-control" value="{{post.name}}" id="text" Name="name"><br><br>
 </div>
 <div>
  <label for="description" class="form-label">description</label>
  <input type="text" class="form-control" id="description" value="{{post.description}}" name="description"></input><br><br>
 </div>
  <div>
    <label for="image" class="from-label">Image:</label>
    <input type="file" class="form-control"  value="{{post.image.url}}" name="image">
  
  <button type="submit" class="btn btn-primary ">Submit</button>
 </form>

{% endblock contant %}