{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        
    <link rel="stylesheet" href="{% static "styleing.css" %}">
    
    </head>
    <body>
               <div class="mb-3">
            {% csrf_token %}
            <a href="/Home" class="href">Home</a>
            <a href="/create" class="href">Create</a>
            <a href="/register" class="href">Register</a>
            <a href="/student" class="href">student</a>
            <a href="/login" class="href">Login</a>
            <a href="/logout" class="href">logout</a>
        </div>

     <h1 class="ex1">hello </h1>
       </div>
       
     </body>
</html>