{% extends "base.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="/static/new.css">

{% endblock css %}



{% block contant %}

<Form class="form-data" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
  <div>
    <label for="text">name
     <input type="text" class="control" name="name" value="{{post.name}}" id="name">
    </label>
  </div>
  <div>
    <label for="text">description
        <input type="text"class="control"  name="description" value="{{post.description}}" >
    </label>
  </div>
  <div>
    <label for="text">image:
        <input type="file" class="control" name="image" value="{{post.image.url}}" >
    </label>
    <button>submit</button>
  </div>
</Form>



{% endblock contant %}


