{% extends "base.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="/static/new.css">
{% endblock css %}


{% block contant %}

<div class="img-row-full">
  {% for post in object  %}
<div class="action-img">
  <img class="img-m3" src="{{post.image.url}}" alt="{{post.image.url}}">
  <h2>{{post.name}}</h2>
  <p>{{post.description}}</p>
  <a class="btn-mb" href="{% url 'adit' post.id %}">Adit</a>
  <a class="btn-mb" href="{% url 'delete' post.id %}">Delete</a>
</div>
{% endfor %}
</div>

{% endblock contant %}


